/* .App {
  text-align: center;
  /* background-image: linear-gradient(to right top, #1b2337, #202d48, #233859, #24436b, #244e7e); */
/* } */

.pic{
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 0px;
}
.container{
  background-color: rgb(233, 222, 233);
  width: 275px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  border-radius: 2rem;
  color: rgb(138, 145, 170);
  box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.75);
height: min-content;
}
.rating{
  margin-bottom: 2px;
  color: #000;
}
.rating,.summary{
  margin-top:0 ;
}
.name{
  
  margin-bottom: 10px;
  margin-top: 0;
  color: #36f12f;
}

.summary{
  font-size: 12px;
  color: #868484;
  
}
.rating{
  color: #000000;
} 


.movie-show-button{
  /* margin-bottom: 25px; */
  height: 25px;
}
.likecontainer{
  margin-top: 5px;
}
.Allmovies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.add-movie-form{
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* width: 250px; */
  gap: 10px;
}

nav{
  display: flex;
  gap: 20px;
  margin: 15px;
  color: blue;
}
.notfound{
  text-align: center;
  color: aqua;
}
.newContainer{
  padding: 20px;
  max-width: 50rem;
}
.newcontent{
  display: flex;
  align-items: center;
}
.game-box{
  background-color: white;
  color: black;
  height:8rem;
  width: 8rem;
  display: flex;
  align-items: center;
    justify-content: center;
    font-size: 8rem;
    border:solid 1px black;
    cursor: pointer;
    
}
.board{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3,1fr);
  width: min-content;
  
}

.full-game{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}